/* alignment */
.header .headerContainer .headerSearch .options .optionItem .optionCnt, .header .headerContainer .headerSearch .headerSearchItem, .header .headerContainer .headerSearch, .header .headerContainer .headerList .headerListItem {
  display: flex;
  align-items: center;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--basicBlue);
  color: var(--fontColor);
}
.header .headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}
.header .headerContainer {
  width: 100%;
  max-width: var(--maxWidth);
  margin: 20px 0px 100px 0px;
}
.header .headerContainer .headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.header .headerContainer .headerList .headerListItem {
  gap: 10px;
}
.header .headerContainer .headerList .headerListItem.active {
  border: 1px solid var(--activeColor);
  padding: 10px;
  border-radius: 20px;
}
.header .headerContainer .headerDesc {
  margin: 20px 0px;
}
.header .headerContainer .headerBtn {
  padding: 10px;
  border: none;
  background-color: var(--lightBlue);
  color: var(--fontColor);
  font-weight: 500;
  cursor: pointer;
}
.header .headerContainer .headerSearch {
  position: absolute;
  bottom: -25px;
  justify-content: space-around;
  padding: 10px 0px;
  width: 100%;
  max-width: var(--maxWidth);
  height: 30px;
  border: 3px solid var(--basicYellow);
  border-radius: 5px;
  background-color: var(--headerBgC);
}
.header .headerContainer .headerSearch .headerSearchItem {
  gap: 10px;
}
.header .headerContainer .headerSearch .headerSearchItem .headerIcon {
  color: var(--headerC);
}
.header .headerContainer .headerSearch .headerSearchItem .headerSearchInput {
  border: none;
  outline: none;
}
.header .headerContainer .headerSearch .headerSearchItem .headerSearchTxt {
  color: var(--headerC);
  cursor: pointer;
}
.header .headerContainer .headerSearch .headerSearchItem .date {
  position: absolute;
  top: 50px;
  z-index: 1;
}
.header .headerContainer .headerSearch .options {
  position: absolute;
  top: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  background-color: white;
  color: var(--headerC);
  z-index: 1;
}
.header .headerContainer .headerSearch .options .optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.header .headerContainer .headerSearch .options .optionItem .optionCnt {
  gap: 10px;
  font-size: 12px;
  color: black;
}
.header .headerContainer .headerSearch .options .optionItem .optionCnt span {
  width: 30px;
  text-align: center;
}
.header .headerContainer .headerSearch .options .optionItem .optionCnt .optionCntBtn {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid var(--lightBlue);
  color: var(--lightBlue);
  cursor: pointer;
}
.header .headerContainer .headerSearch .options .optionItem .optionCnt .optionCntBtn:disabled {
  cursor: not-allowed;
}

/*# sourceMappingURL=header.scss.map */

/*# sourceMappingURL=header.css.map */
